<!DOCTYPE html>
<html lang="en">
<head>
    <title>No Racker Left Behind</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function()
        {
            var theHash = window.location.hash;
            var hash = theHash.substring(1);
			
            $(".stripMe tr:even").addClass("alt");
            
            if(hash != "")
            {
                $(".section").hide();
                $("#"+hash).show();

                jQuery.each($(".navbar li"),function()
                {
                    if(hash == $(this).children("a").attr("alt"))
                    {
                        $(this).addClass("active").siblings('.active').removeClass('active');
                    }
                })
            }


            $("#primary-nav li a").click(function()
            {
                $(this).closest("li").addClass('active').siblings('.active').removeClass('active');
                $('.section').hide();
                $("#"+$(this).attr('alt')).show();
            });

            $('.btn-group button').click(function()
            {
                $(this).addClass('btn-primary').siblings('.btn-primary').removeClass('btn-primary');
            });
			
        });

    </script>
    <style type="text/css">
        .pickup
        {
            margin-bottom:10px;
        }
        tr.alt td{
        	background:#99CCFF;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="navbar" style="margin-bottom:0;" id="primary-nav">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/today" alt="today">Today</a> </li>
                    <li class="active"><a href="/#driver" alt="driver">Driver</a></li>
                    <li><a href="/logout">Log Out {{username}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section row-fluid" id="today">
        <div class="span12">
            <form class="form-vertical" action="/driver" method="post">
                <div class="well">
                    <fieldset>
                        <div class="control-group" style="margin-top:20px;">
                            <label class="control-label">Departure Time</label>
                            <div class="controls">
                                {% for trip in currenttrip %}
                                <label class="radio north-pickup pickup">
                                    <input type="radio" name="depart" value="{{ trip.id }}">
                                    <strong>{{ trip.tripconfig.name }}</strong></label>
        			            {% endfor %}
                            </div>
                            <div>
                            	<table class="stripMe" border="1">
   									<tr class=flash><th>Name</th><th>Phone</th><th>Checked In?</th></tr>
                                	{% for rackerReserve in rackerReserves %}
                                	<tr>
                                		<td>{{ rackerReserve.racker.name}}</td>
                                		<td>{{ rackerReserve.racker.phone}}</td>
                                		<td>No</td>
                                	</tr>
       			            		{% endfor %}
       			            		{% for rackerCheckin in rackerCheckins %}
                                	<tr>
                                		<td>{{ rackerCheckin.racker.name}}</td>
                                		<td>{{ rackerCheckin.racker.phone}}</td>
                                		<td>Yes</td>
                                	</tr>
       			            		{% endfor %}
                            	</table>
                             </div>
                        </div>
                    </fieldset>
                    <div class="">
                        <button type="submit" class="btn btn-large btn-inverse">List</button>
                    </div>
            	</div>
            </form>
        </div>
    </div>
</div>
</body>
</html>