<!DOCTYPE html>
<html lang="en">
<head>
<title>No Racker Left Behind</title>
<link href="/static/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">

$(document).ready(function()
{
	var theHash = window.location.hash;
	var hash = theHash.substring(1);
	 
	 if(hash != "")
	 {
	 	$(".section").hide();
		$("#"+hash).show();
		
		jQuery.each($(".navbar li"),function()
		{
			if(hash == $(this).children("a").attr("alt"))
			{
				$(this).addClass("active").siblings('.active').removeClass('active');
			}
		})
	 }
	

	$("#primary-nav li a").click(function()
	{
		$(this).closest("li").addClass('active').siblings('.active').removeClass('active');
		$('.section').hide();
		$("#"+$(this).attr('alt')).show();
	});
	
	$('.btn-group button').click(function()
	{
		$(this).addClass('btn-primary').siblings('.btn-primary').removeClass('btn-primary');
	});
	
	
});

</script>
<style type="text/css">
.pickup
{
	margin-bottom:10px;
}
</style>
</head>
<body>
<div class="container-fluid">
<div class="navbar" style="margin-bottom:0;" id="primary-nav">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active"> <a href="#today" alt="today">Today</a> </li>
        <li><a href="/driver" alt="driver">Driver</a></li>
        <li><a href="/logout">Log Out {{username}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="section row-fluid" id="today">
  <div class="span12">
    <form class="form-vertical" action="/checkins" method="post">
      <div class="well">
      <fieldset>
      <div class="controls">
        <input type="text" class="" name="name" value="{{racker.name}}" placeholder="Name">
      </div>
      <div class="controls">
        <input type="text" class="" name="phone" value="{{racker.phone}}" placeholder="Phone Number">
      </div>
      </fieldset>
      <hr />
      <fieldset>
      <h3>Check In</h3>
      <div class="control-group" style="margin-top:10px;">
        <label class="control-label" for="select01">Leave From</label>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" onClick="$('.south-pickup').hide();$('.north-pickup').show();">Austin Office</button>
          <button type="button" class="btn" onClick="$('.north-pickup').hide();$('.south-pickup').show();">Southpark Meadows</button>
        </div>
      </div>
      <div class="control-group" style="margin-top:20px;">
        <div class="controls">
          {% for castleShuttle in to_san %}
	          {% if castleShuttle.origin == 'Austin Office' or castleShuttle.origin == 'Castle'%}
	          <label class="radio north-pickup pickup">
	          <input type="radio" name="depart" value="{{ castleShuttle.id }}">
	          <strong>{{ castleShuttle.departtime }} (Seats Available : {{ castleShuttle.capacity - castleShuttle.totalCheckin}})</strong></strong> <span class="label label-success">Available</span> </label>
	          {% elif castleShuttle.origin == 'Southpark Meadows'%}
	          <label class="radio south-pickup pickup hide">
	          <input type="radio" name="depart" value="{{ castleShuttle.id }}">
	          <strong>{{ castleShuttle.departtime }} (Seats Available : {{ castleShuttle.capacity - castleShuttle.totalCheckin}})</strong> <span class="label label-important">Full</span> </label>
	          {% endif %}
        {% endfor %}
        </div>
      </div>
      </fieldset>
      <hr />
      <fieldset>
      <h3>Return Shuttle</h3>
      <div class="control-group" style="margin-top:20px;">
        <div class="controls">
          {% for castleShuttle in to_san %}
          {% if castleShuttle.returnTrip == 'True' %}
          <label class="radio pickup">
          <input type="radio" name="return" value="{{ castleShuttle.id }}">
          <strong>{{ castleShuttle.departtime }} (Seats Available : {{ castleShuttle.capacity - castleShuttle.totalReserves}})</strong></strong> <span class="label label-success">Available</span> </label>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      </fieldset>
      <hr />
      <div class="">
        <button type="submit" class="btn btn-large btn-inverse">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>
</body>
</html>
